
@font-face {
  font-family: 'stylish_calligraphy_demoRg';
  src: url('stylishcalligraphydemo-xpzz-webfont.woff2') format('woff2'),
       url('stylishcalligraphydemo-xpzz-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body{
  background-image: url("restaurant_poza.jpg"); 
  background-position: center center; 
  background-attachment: fixed; 
   background-repeat: no-repeat;
   background-size: cover;
}

.login-div {
  text-align: center;
  position: absolute;
  border-radius: 5%;
  background:bisque;
  /* background: linear-gradient(90deg, rgba(242,178,164,1) 54%, rgba(242,208,201,1) 77%, rgba(242,238,238,1) 100%); */
  
  opacity: 1;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  width: 40rem; 
  height: 40rem; 
  border: 0.1rem solid #420109 ;
}

.vertical-align{
  position:absolute;
  margin-left: 4rem;
  top:16.5rem;  
  background-color:inherit;
  justify-content: center; 
}

.login{
  color: #8A0718;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title-restaurant{
  color:bisque;
  text-align: center; 
  font-style:italic;
  font-size: 3.5rem;
  font-family: 'stylish_calligraphy_demoRg';
  margin-top: 5rem;
}

h1.nav-bar{
  color:bisque;
  text-align: center; 
  font-style:italic;
  font-family:'Times New Roman', Times, serif;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

h1.nav-bar:hover{
  color: #C93144;
}

.container-contact{
  position: absolute;
  bottom: 0rem;
}

h3.text-contact{
  color:bisque;
  text-align: center; 
  font-family:monospace;
  font-style:italic;  
}

.user-div{
  margin-top:2rem;
  font-weight: bold; 
}

.text-input{
  width: 31.5rem;
  height: 4rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  margin: 0.7rem;
}

.small-text{
  width: 13.3rem;
  height: 3rem;
}

.text-input:focus{
  border: 0.4rem solid orange;
}

.larger-text{
  width: 28.5rem;
  height: 3rem;
}



.connect-input{
  background-color: #8A0718;
  width: 31.5rem;
  height: 4rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  margin:0.7rem;
  cursor: pointer;
  border:none;
  color: white;
}

.connect-input:hover{
background-color:#C93144;
}

.connect-input-register{
  width: 29rem;
  height: 3.5rem;
}

.link-div{
  margin:1rem;
}

.App-link {
  color:black;
  font-size: 1.5rem;
  text-decoration: none;
}

.menu-link {
  text-decoration: none;
}

.App-link:hover{
  text-decoration: underline;
}

.menu{
  width:18rem;
  top:0;
  left:0;
  height: 100%;
  position: fixed;
  opacity: 0.8;
  /* background-color: #420109; */
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(66,1,9,1) 35%, rgba(168,30,30,1) 100%);
}

.food_menu_container{
  /* text-align: center; */
  /* border-radius: 5%; */
  color:black;
  background-color: none;
  /* opacity:0.8; */
  margin-left:18rem;
  height: 40rem;  
}

.food_menu_row{
  margin-left: 7rem;
  
}
h1.product{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;

  position: relative;
  max-height:2rem;
  /* left: auto; */
  margin-top:1.5rem ;
  
}
.content_menu{
  
  display:inline-block;
  width: 18rem;
  height: 31.5rem;
  margin-top: 5rem;
  margin-right: 2.5rem;
  margin-bottom: 3rem;
  background-color: bisque;
  text-align: center;
  padding:1rem;
  vertical-align: middle;
  
}

.food_menu_imagine{
  cursor:pointer;
  margin:auto;
	width: 18rem;
	height: 18rem;
	opacity: 1;
    
}

.home-logo{
  width:3.5rem;
  height:3.5rem;
  color:bisque;
  margin-top: 1rem;
  margin-left:1rem;
  margin-right:1rem;
}

.add_to_cart{
  /* margin-top:0rem; */
  vertical-align: middle;
  /* width:2rem;
  height:2rem; */
  margin: auto;
  font-size: 2.5rem;
  /* border:#000000 solid 2rem; */
 
  /* padding: 0; */
 
}
.icon_button{
  padding:0;
  border: 0;
  background-color: inherit;
  cursor: pointer;

  /* margin: 0; */
 
}
/* .icon_button:hover{
color:white;
} */
.inline{
  /* margin:auto; */
  vertical-align: middle;
  display: inline;
  margin-left: 2rem;
}
.fixed{
  margin-top: 4rem;
}

.container {
  max-width: 50%;  
  margin: 40px auto;
}
.align{
  text-align: left;
}
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  text-align: center;
  height: 1.5em;
 }
  .hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, #000000, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 0.05rem;
  }
  .hr-text:after {
    content: attr(data-content);
    font-size: large;
    position: relative;
    padding: 0 .5rem;
    line-height: 1.5rem;
    background-color: bisque;
  }
.shop-container{
  background-color: bisque;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  width: 70rem;
  height: 100%;
  overflow: scroll;
  position: absolute;
  display:inline-block;
  vertical-align: middle;
  opacity:0.9;
}
.container{margin-left:15%;
  width: 85%;
  height: 100%;
  
}

.shop-div{
  margin-top: 5rem;
  position: relative;
  margin-left: 2rem;
  margin-right: 2rem;
  border: #000000 0.1rem dashed;
  padding:2rem;
  /* color: white; */


}
.shop-image{
  width:4rem;
  height:4em;
}
.remove-button{
  position: absolute;
 right:5rem;
}
.counter{
  position: absolute;
  right:15rem;
  display: inline;
}
h2.price
{
  margin-top: 3rem;
}
.example {
  cursor: pointer;
  height:18rem;
  position: relative;
  overflow: hidden;
  width: 18rem;
  text-align: center;
}
.example .fadedbox {
  background-color: rgba(200, 200, 200, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 18rem;
  height: 18rem;
  padding: 10px;
}
.example:hover .fadedbox {
  opacity: 0.9;
}
.example .text {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
}
.example .title {
  font-size: 1.5em;
  text-transform: uppercase;
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
  /* max-width: 2rem; */
}
.example:hover .title,
.example:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}
.field_error{
  margin-top: 0;
  color:red;
}
.x{
  text-align: center;
  /* position: absolute; */
  border-radius: 5%;

  margin-left:10rem;
  width: 2.6rem; 
  /* height: 40rem;  */

  /* display: inline; */
  /* width:2rem; */
  /* --PhoneInputCountryFlag-height:1; */
   /* font-size:1rem; */
  /* max-width: 2rem;  */
}
@media only screen and (orientation: landscape) and (max-device-height: 580px) {
 .login-div{
   margin-top: 50px;
 
  }  
}
@media only screen and  (max-device-width: 580px) {
  :root{ font-size:1rem;}
  .login-div{ 
    width: 20rem; 
   height: 20rem;
   font-size:0.6rem;
  }
  .text-input{padding:0.5rem;margin:0.5rem;height:40%;width:70%;font-size:1rem;}
  .App-link{font-size: 1rem;}
  .user-div,h1,body,.link-div{margin: 1rem;}
  .connect-input{padding: 0.6rem;height:10% ;width: 70%;font-size:0.7rem;margin: 0.1rem;}
  .register-button{height:10%;width: 70%;padding: 0.6rem;}
  
}

