body{
  background-image: url("restaurant_poza.jpg");
  background-size: 100%;
}
.login-div {
  text-align: center;
  position: absolute;
  border-radius: 5%;
  background-color: #E6C7C1;
  opacity: 0.9;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  width: 40rem; 
  height: 40rem; 
}

h1{
  color: #8A0718;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.user-div{
  margin-top:2rem;
  font-weight: bold;
  
}
.text-input{
  padding:  1rem 15rem 1rem 0.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  margin: 0.7rem;
}
.connect-input{
  background-color: #8A0718;
  /* padding:  1rem 13.1rem ; */
  width: 31.5rem;
  height: 4rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  margin:0.7rem;
  cursor: pointer;
  border:none;
  color: white;


}

.link-div{
  margin:1rem;
}
.App-link {
  color:black;
  font-size: 1.5rem;
  text-decoration: none;

}
.App-link:hover{
  text-decoration: underline;
}

